#import-elems, #progress-elems{
  margin-right: 0px !important;
}

@media (max-width: 991px) {
  #import-elems, #progress-elems{
    margin-left: 10px !important;
  }
  #enviar-btn{
    margin-top: 5px !important;
  }
}
